		<tr>
			<th show.bind="!columns.rank.hidden">
				<div class="dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">Rank</a>
					<ul class="dropdown-menu">
						<li data-ng-click="setSort('rank')"><a href="#"><i class="fa fa-sort-numeric-asc"></i> Order Ascending</a></li>
						<li data-ng-click="setSort('-rank')"><a href="#"><i class="fa fa-sort-numeric-desc"></i> Order Descending</a></li>
						<li data-ng-click="columns.hide('rank')"><a href="#"><i class="fa fa-remove"></i> Remove</a></li>
					</ul>
				</div>
			</th>
			<th show.bind="!columns.title.hidden">
				<div class="dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">Title</a>
					<ul class="dropdown-menu">
						<li data-ng-click="setSort('title')"><a href="#"><i class="fa fa-sort-alpha-asc"></i> Order Ascending</a></li>
						<li data-ng-click="setSort('-title')"><a href="#"><i class="fa fa-sort-alpha-desc"></i> Order Descending</a></li>
						<li data-ng-click="columns.hide('title')"><a href="#"><i class="fa fa-remove"></i> Remove</a></li>
					</ul>
				</div>
			</th>
			<th show.bind="!columns.artist.hidden">
				<div class="dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">Artist</a>
					<ul class="dropdown-menu">
						<li data-ng-click="setSort('artistObject.name')"><a href="#"><i class="fa fa-sort-alpha-asc"></i> Order Ascending</a></li>
						<li data-ng-click="setSort('-artistObject.name')"><a href="#"><i class="fa fa-sort-alpha-desc"></i> Order Descending</a></li>
						<li data-ng-click="columns.hide('artist')"><a href="#"><i class="fa fa-remove"></i> Remove</a></li>
					</ul>
				</div>
			</th>
			<th show.bind="!columns.debutDate.hidden">Date</th>
			<th show.bind="!columns.score.hidden">
				<div class="dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">Score</a>
					<ul class="dropdown-menu">
						<li data-ng-click="setSort('score')"><a href="#"><i class="fa fa-sort-numeric-asc"></i> Order Ascending</a></li>
						<li data-ng-click="setSort('-score')"><a href="#"><i class="fa fa-sort-numeric-desc"></i> Order Descending</a></li>
						<li data-ng-click="columns.hide('score')"><a href="#"><i class="fa fa-remove"></i> Remove</a></li>
					</ul>
				</div>
			</th>
			<th show.bind="!columns.projectedRank.hidden"></th>
			<th show.bind="!columns.projectedRank.hidden" style="text-align:right">
				<div class="dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">PR</a>
					<ul class="dropdown-menu">
						<li><b>Projected Rank"> (PR)</b>
						<li data-ng-click="setSort('projectedRank')"><a href="#"><i class="fa fa-sort-numeric-asc"></i> Order Ascending</a></li>
						<li data-ng-click="setSort('-projectedRank')"><a href="#"><i class="fa fa-sort-numeric-desc"></i> Order Descending</a></li>
						<li data-ng-click="columns.hide('projectedRank')"><a href="#"><i class="fa fa-remove"></i> Remove</a></li>
					</ul>
				</div>
			</th>
			<th show.bind="!columns.debutRank.hidden">
				<div class="dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">D</a>
					<ul class="dropdown-menu">
						<li><b>Debut Rank (D)</b>
						<li data-ng-click="setSort('debutRank')"><a href="#"><i class="fa fa-sort-numeric-asc"></i> Order Ascending</a></li>
						<li data-ng-click="setSort('-debutRank')"><a href="#"><i class="fa fa-sort-numeric-desc"></i> Order Descending</a></li>
						<li data-ng-click="columns.hide('debutRank')"><a href="#"><i class="fa fa-remove"></i> Remove</a></li>
					</ul>
				</div>
			</th>
			<th show.bind="!columns.peakRank.hidden">
				<div class="dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">P</a>
					<ul class="dropdown-menu">
						<li><b>Peak Rank (P)</b></li>
						<li data-ng-click="setSort('peakRank')"><a href="#"><i class="fa fa-sort-numeric-asc"></i> Order Ascending</a></li>
						<li data-ng-click="setSort('-peakRank')"><a href="#"><i class="fa fa-sort-numeric-desc"></i> Order Descending</a></li>
						<li data-ng-click="columns.hide('peakRank')"><a href="#"><i class="fa fa-remove"></i> Remove</a></li>
					</ul>
				</div>
			</th>
			<th show.bind="!columns.duration.hidden">
				<div class="dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">M</a>
					<ul class="dropdown-menu">
						<li><b>Duration (Months) (M)</b></li>
						<li data-ng-click="setSort('duration')"><a href="#"><i class="fa fa-sort-numeric-asc"></i> Order Ascending</a></li>
						<li data-ng-click="setSort('-duration')"><a href="#"><i class="fa fa-sort-numeric-desc"></i> Order Descending</a></li>
						<li data-ng-click="columns.hide('duration')"><a href="#"><i class="fa fa-remove"></i> Remove</a></li>
					</ul>
				</div>
			</th>
			<th show.bind="!columns.timeToPeak.hidden">
				<div class="dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">H</a>
					<ul class="dropdown-menu">
						<li><b>Time to Peak (H)</b></li>
						<li data-ng-click="setSort('timeToPeak')"><a href="#"><i class="fa fa-sort-numeric-asc"></i> Order Ascending</a></li>
						<li data-ng-click="setSort('-timeToPeak')"><a href="#"><i class="fa fa-sort-numeric-desc"></i> Order Descending</a></li>
						<li data-ng-click="columns.hide('timeToPeak')"><a href="#"><i class="fa fa-remove"></i> Remove</a></li>
					</ul>
				</div>
			</th>
			<th show.bind="!columns.projectedRank.hidden" data-ng-repeat="index in [1,2,3,4]" style="text-align:right">
				<div class="dropdown">
					<a href="#" data-toggle="dropdown" class="dropdown-toggle">W{{ index }}</a>
					<ul class="dropdown-menu">
					</ul>
				</div>
			</th>
		</tr>
	</thead>
